.embed-tags {
    display: flex !important;
    flex-wrap: wrap;

    .tag {
        background: $theme-color-2;
        color: $white;
        border-radius: .25em;
        padding: .25em 1em;
        display: inline-block;
        text-decoration: none;
        margin-right: 2px;
        margin-bottom: 2px;
        line-height: 145%;
    }
}

h4.synergy-title {
    margin-bottom: 4px !important;
}

ul.synergy-list {
    margin-top: 1em;
}